*{
  
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    
}
html,body{
height: 100%;
width: 100%;
}
body
{
    background-color: black;
}

#string{
    height: 200px;
    width: 100%;
    /* background-color: red; */
}