*{
  
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    
}
html,body{
height: 100%;
width: 100%;
}

#main
{
    height: 100%;
    width: 100%;
    background-color: rgb(21, 20, 20);
    display: flex;
    align-items: center;
    justify-content: center;
}

#cursor
{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fff;
    position: fixed;
   
}

#image
{
    height: 30vw;
    width: 60vw;
    
    background-image: url(https://images.unsplash.com/photo-1718551260047-e5b4a92e46b6?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    background-color: rgba(3, 3, 3, 0.347);
    box-shadow: 0px 10px 10px 15px  rgba(255, 255, 255, 0.696);
 
}