* {

    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: #0d0c0c;
    margin: 0;
    padding: 0;

}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    overflow-x: hidden;
}

#page {
    height: 100%;
    width: 100%;
    background-color: black;
}

#page1 {
    height: 100%;
    width: 100%;
    background-color: rgb(104, 159, 177);
    padding: 4vw;

}

#page2 {
    height: 100%;
    width: 100%;
    background-color: black;
}

#page1 h1 {
    font-size: 40vw;
}