*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: white;
}
html,body{
    height: 100%;
    width: 100%;
}
#cursor{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: fixed;
    background-color: #EDBFFF;
    z-index:8;
    mix-blend-mode: difference;
    /* transition: left linear 0.1s top linear; */
}

#main
{
    background-color: #0F0D0D;
    cursor: none;
  
}
::selection {
    color:#0F0D0D;
    background: #EDBFFF;
    }
#page1
{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
 
    

}
#nav{
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    
}
#nav img
{
    height: 26px;
}
#nav-part2
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 26px;
}
#nav #circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fff;
}
#nav h4
{
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}
#nav h4:nth-child(1)
{
    border-bottom: 2px solid  #fff;
}
/* navbar ends  */

#page1 h1{
    font-size: 8vw;
    font-weight: 300;
    font-family: PP mori;
    margin-top: 12vw;
    margin-left: 7VW;
}
#page1 h2{
    font-size: 8vw;
    font-weight: 300;
    font-family: PP mori;
    margin-left: 23VW;
    
}
#page1 video
{
    width:60%;
    margin-top: 10vw;
   position: relative;
   left: 50%;
   transform: translate(-50%,0);
}
/*  */
#page2
{
    min-height: 80vh;
    width: 100%;
    padding: 100px 5vw;
    border-bottom: 2px solid #151414 ;
    position: relative;
    z-index: 9;
}
#page2 h1
{
    font-size: 7vw;
    font-weight: 500;
    color: #111;
    
    
}
#page2-container{
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 vw; */
    margin-top: 7%;
}
#page2-left{
     
     width: 38%;
     
}
#page2-right{
   
    width: 26%;
    font-weight:300 ;
}
#page2-left h2{
    font-size: 4vw;
    font-weight: 20; 
    color: #111;
    
   
}
#page2-right p
{
    font-size: 28px;
    color: #111111;
    font-weight: 100;
    /* line-height:30px; */

}
#page2-right button
{
    width: 100%;
    border-radius: 50px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 17px;
    background-color: #EDBFFF;
    color:#111;
    margin-top: 20px;
}


/* page 2 ends here  */

#page3{
    min-height:100vh ;
    width: 100%;
    position: relative;
    z-index: 9;
}


#page3 h1{
    font-size: 7vw;
    font-weight: 300;
    margin-left: 90px;
    color: #111;
    margin-top: 7%;

}
#page3-part1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
#page3-part1 #img1{
    height: 500px;
    margin-top: 160px;

}
#page3-part1 #img2{
    height: 500px;
}

.page4{
    min-height: 100vh;
    width: 100%;
    z-index: 9;
    position: relative;
    padding: 17vw 5vw;
    border-top: 2px solid #6c6c6c;
}
/* #page4 p
{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    text-align: center;
} */
.elem{
    /* background-color: salmon; */
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.elem img{
    position: absolute;
    opacity: 0;
    transition: all ease-out 0.5s;
    transform: translateY(10%) rotate(2deg);
}
.elem img:nth-child(1){
    left:1%;
}
.elem img:nth-child(3){
   right: 1%;
}
.text-div{
    height: 15vh;
    position: relative;
    z-index: 9;
   overflow: hidden;
}
.elem h1{
    font-size: 7.5vw;
    font-weight: 300;
    transition: all ease-out 0.5s;
}

.elem:hover h1{
    transform: translateY(-100%);
    color: #EDBFFF;
}
.elem:hover img{
    opacity: 1;
    transform: translateY(0%) rotate(0deg);

}

#page5{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding: 140px 100px;
}
#page5 h2{
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 50px;
}
#box{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 20px;
    border-top: 2px solid #dadada;
}

#box:nth-last-child(1){
    border-bottom: 2px solid #dadada;

}

footer{
    height: 90vh;
    width: 100%;
    background-color: #EDBFFF;
}